@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans&display=swap');
html,body{
    width: 100%;

    border: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.app-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(51, 174, 255);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
.title{
    width: 70%;
    background-color: rgba(0, 0, 0,0.3);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: greenyellow;
    margin-top:13px;
    box-shadow: 1px 2px 2px 1px
    rgba(0,0,0,0.25);
    border-radius: 100px;
    padding: 10px;
}
.title a{
    color: white;
    text-decoration: none;
}
.title p:first-child{
    font-family: 'Lobster Two', cursive;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    margin: 13px;
}
.content-container{
    margin-top: 5px;
    width: 95%;
    overflow-y: auto;
    height:inherit ;
    margin-bottom: 15px;
}
#canvas-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.chart.w-100{
    width: 100%!important;
}
.chart.w-50{
    width: 50%!important;
}
@media only screen and (max-width: 600px) {
    .chart.w-50{
        width: 100%!important;
    }
}
.chart .w-25{
    width: 25%;
}
#files{
    border: 0;
    background-color: #e8e8e8c7;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}
#whatsapp_content{
    margin: auto;
    border: 3px solid darkturquoise;
    border-radius: 5px;
    width: max-content;
    margin-top: 10px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
#whatsapp_content button{
    color: #ffffff;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px black;
    font-size: 15px; 
    font-weight: 700;
    padding: 10px;
    background-color: lightgreen;
    margin: 10px;
    border: 0px;
    border-radius:5px;
    box-shadow:1px 5px 25px rgba(0, 0, 0, 0.8);
}
#whatsapp_content button:active{
    color: #ffffff;
    background-color: darkgreen;
    box-shadow:0px 3px 2px rgba(0, 0, 0, 0.8);
}
#footer{
    width: 100vw;
    position: absolute;
    bottom: 0px;
}
footer{
    width: 100%;
    background-color: rgba(125, 125, 125, 0.8);
}
