@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans&display=swap');
html,body{
    width: 100%;

    border: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.app-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(51, 174, 255);
    display: flex;
    flex-flow: column;
    align-items: center;
}
.title{
    width:100% ;
    height:30% ;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: greenyellow;
    margin-top:13px;
    padding: 10px;
    display: flex;
}
.description{
    transition: font-size .5s ease-in-out;
}
.title a{
    color: white;
    text-decoration: none;
}
.title-text{ 
    font-family: 'Lobster Two', cursive;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin: 13px;
    max-width: 50vw;
}
 @media only screen and (max-width: 600px) {

    .title{
        flex-wrap: wrap;
    }
    .title-text{
        max-width: 100vw;
        font-size: 3rem;
    }
 }
.content-container{
    margin-top: 5px;
    width: 95%;
    height: 70%;
    overflow-y: auto;
    height:inherit ;
    margin-bottom: 15px;
}
#canvas-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.chart.w-100{
    width: 100%!important;
}
.chart.w-50{
    width: 50%!important;
}
@media only screen and (max-width: 600px) {
    .chart.w-50{
        width: 100%!important;
    }
}
.chart .w-25{
    width: 25%;
}
#choose-file-text{
    padding: 10px;
    background: #40b30b9c;
    display: table;
    color: #fff;
    width: 80%;
    box-shadow:1px 5px 25px rgba(0, 0, 0, 0.8);
    margin: auto;
    text-align: center;
    font-weight: bold;
}
#choose-file-text:active{
    box-shadow:0px 5px 25px rgba(0, 0, 0, 0.8);
}

#files{
    display: none;
    width: 100%;
}
#whatsapp_content{
    margin: auto;
    border: 3px solid darkturquoise;
    border-radius: 5px;
    width: max-content;
    margin-top: 10px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#whatsapp_content button{
    color: #ffffff;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px black;
    font-size: 15px; 
    font-weight: 700;
    padding: 10px;
    background-color: lightgreen;
    margin: 10px;
    border: 0px;
    border-radius:5px;
    box-shadow:1px 5px 25px rgba(0, 0, 0, 0.8);
}
#whatsapp_content button:active{
    color: #ffffff;
    background-color: darkgreen;
    box-shadow:0px 3px 2px rgba(0, 0, 0, 0.8);
}
#footer{
    width: 100vw;
    position: absolute;
    bottom: 0px;
}
footer{
    width: 100%;
    background-color: rgba(125, 125, 125, 0.8);
}
